*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Encode Sans',sans-serif;
}

.new-arrival{
    color: #24252A;
    padding: 25px 72px;
    display: flex;
    justify-content: left;
    font-size: 27px;
    text-shadow: 2px 2px 5px rgba(0, 136, 169, 1);
}

.head{
    color: #24252A;
    padding:  10px 10px 0px 72px;
    display: flex;
    justify-content: left;
    font-weight: bold;
    font-size: 20px;

}

.flex-container1{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.watchname1-0{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 0%;
}

#watchname{
    font-size: 20px;
    font-weight: 540;
    margin-top: -10px;
    margin-bottom: 30px;
    color: rgb(16, 107, 129);
}


.flex-container2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex-container3{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
} 

img{
    height: 300px;
}

.legacy{
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    background-image: linear-gradient(to right, rgba(0, 136, 169, 1), white);
    line-height: 500px;
    
}

#legacy1{
    width: 40%;
    font-size: 55px;
    padding:  0px 0px 0px 72px;
    align-items: center;
}

#legacy2{
    width: 60%;
    font-size: 15px;
    text-align: justify;
    padding-right: 72px;
}

#legacy1 p{
    line-height: 1.0;
    display: inline-block;
    vertical-align: middle;
}

#legacy2 p{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.showroom-pic1 {
    display: flex;   
    height: 500px;
    position: relative; 
    line-height: 500px; 
    margin-bottom: 15px;

}

.showroom-pic1 img{
    margin-top: 0%;
    width: auto;
    height: 500px; 
    display: block;
}


.showroom-pic1 p{ 
    margin-top: 47px;  
    line-height: 1.5;
    font-size: 20px;
    text-align: justify;
    padding-right: 72px;
    padding-left: 15px;
    display: inline-block;
    vertical-align: middle;
}

.text-color{
    padding: 10px;
    color: rgba(0, 136, 169, 1);
    font-weight: bold;
    font-size: 30px;
}

.our-stores{
    font-size: 25px;
    padding-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.address{
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: 250px;
    line-height: 200px;
}

.add1, .add2, .add3{
    border: 1px solid;
    width: 33.3%;
    /* border-color: white; */
    border: none;
    display: block;
    line-height: 2;
    text-align: center;
}

.add1{
    background-color: #e7f2f5 ;
    
}

.add2{
    background-color: #b9d9e3 ;
}

.add3{
    background-color: #91c3d4;
}

.add1, .add2, .add3 p{
    padding-top: 42px;
}

.add-button{
    padding: 15px 25px ; 
    margin-top: 20px;  
    background-color: rgba(0, 136, 169, 1);
    border: solid;
    border-color: rgba(0, 136, 169, 1);
    cursor: pointer;
}

.add-button:hover{
    background-color: white;
    border-color:rgba(0, 136, 169, 1) ;
    color: rgba(0, 136, 169, 1);
}