*{
    margin: 0%;
    padding: 0%;
}

.logo{
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
    background-color: #000;
}

.nav1 nav{
    background-color: antiquewhite;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-evenly
}

.nav1 nav a {
    /* display: flex;
    flex-direction: row; */
    /* float: left; */
    text-decoration: none;
    color: #000;
    
    
}

.img{
    height: 125px;
    width: 12.5%;
}